alembic==1.14.0
fastapi==0.115.5
loguru==0.7.2
pydantic==2.10.1
pydantic_settings==2.6.1
python-decouple==3.8
SQLAlchemy==1.4.41
uvicorn==0.32.1

# 'transformers[torch]'
# datasets
# langchain_community
# sentence_transformers (possibly no need)